/target
**/target
Cargo.lock.bak
*.spv
!shaders/**/*.spv
capture_*.png
.vs/
.idea/
.scratch/
assets/**/.cache/
/saves
.omo
.freebuff
.codegraph
.cargo
.idea
.scratch
/logs
/PROJECT_DETAILS.md
.mex
/dist
/logs/latest.log
/logs/previous.log
/tools
.zcode/plans/plan-sess_a1cbdb02-1bb4-4d93-b04c-47e8bcdbb96c.md
